body{
    background: #f6f6f6;
    height: 100vh;
}

nav{
    background-color: white;
}

.search-form{
    width: 50%;
}
py-5{
    padding: 50px;
    width: 30%;
    background-color: aqua;
    position: fixed;
}
